.navButtons {
  width: 100%;
  display: flex;
  justify-content: end;
}
.pick-field-header {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 450px;
  height: 150px;
  background-image: url(./img/nadpisFieldPick.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  padding-top: 5px;
}
.container-fieldPick {
  width: 900px;
  height: 600px;
  padding-top: 0px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 223, 163);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.circle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 400px;
  position: relative;
  background-image: url(./img/plate.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slice {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slice:hover {
  background-color: rgba(182, 157, 123, 0.732);
}

.slice-text {
  position: absolute;
  visibility: hidden;
  padding-bottom: 10px;
  opacity: 0;
  white-space: nowrap;
  color: black;
  line-height: 0.7;
  padding-top: 2px;
  font-size: 1.8em;
}


.slice1 .slice-text,
.slice3 .slice-text {
  right: 100%;
}

.slice2 .slice-text,
.slice4 .slice-text {
  left: 100%;
}

.slice1 .slice-text,
.slice2 .slice-text {
  top: 20%;
}

.slice3 .slice-text,
.slice4 .slice-text {
  bottom: 20%;
}

.slice:hover .slice-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  background-image: url(./img/nav.png); 
  background-size: cover; 
  background-position: center; 
  width: 200px;
  height: 100px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.slice1 {
  border-radius: 100% 0 0 0;
  padding-top: 30px;
  padding-left: 30px;

}

.slice2 {
  border-radius: 0 100% 0 0;
  padding-top: 30px;
  padding-right: 30px;
}

.slice3 {
  border-radius: 0 0 0 100%;
  padding-bottom: 30px;
  padding-left: 30px;

}

.slice4 {
  border-radius: 0 0 100% 0;
  padding-bottom: 30px;
  padding-right: 30px;
}

.maskot {
  position: fixed;
  right: -20%;
  bottom: 0%;
  transition: right 1s ease-in-out;
}

.maskot-pic {
  width: 300px;
}

.maskot.active {
  right: 1px;
}
.maskot-text-bubble {
  width: 200px;
  height: 190px;
  background-image: url('./img/textBubble.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 150px; 
  bottom: 60%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding-top: 30px;
  font-size: 2em;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shaking-text {
  animation: shake 0.8s ease-in-out;
}
