.button__answer {
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-image: url(./img/answer.png);
  width: 650px;
  height: 78px;
  white-space: nowrap;
  overflow: hidden;
  white-space: normal;
  padding: 15px 30px 5px 30px
}
.button__answer--green {
  background-color: green;
}
.button__answer:hover {
  opacity: 70%;
}
.question {
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-image: url(./img/question.png);
  background-size: cover;
  width: 1000px;
  height: 300px;
  font-size: 1.8em;
  padding: 30px 50px 10px 90px
}
.quizContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
