@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'VT323', monospace;
  font-size: 30px;
}
body {
  background-image: url(./pages/FieldPick/img/backdrop.jpg);
  background-size: cover;

}
.container {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}
